<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Atenas Gallery Stone</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <script type="text/javascript" src="js/modernizr.custom.46884.js"></script>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        .img {
            width: 100%;
            height: auto;
            margin: 0px;
        }
    </style>

</head>

<body>

    <section id="header_mini">
        <div id="wrapper" class="">
            <div class="overlay" style="display: none;"></div>

            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="/"><img style="width: 100%;height: 80px;" src="img/NewLogoAtenas.jpg"
                                alt=""></a>
                    </li> <br> <br>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/marble">Marble</a>
                    </li>
                    <li>
                        <a href="/Granite">Granite</a>
                    </li>
                    <li>
                        <a style="padding-bottom: 15px;" href="/onyx">Onyx</a>
                    </li>


                </ul>
            </nav>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="fa fa-bars">

                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
                <div class="container">
                    <div class="row">

                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
    </section>