<%- include('header.ejs') %>

	<section id="center" class="center_home">
		<div class="wrapper">

			<ul id="sb-slider" class="sb-slider">
				<li>
					<img class="img" src="img/slideimage1.jpg" alt="" />
					<div class="sb-description">
						<h3> Bridging Elegance from Pakistan to USA</h3>
						<p>Embark on a journey of refined luxury as Atenas Gallery Stone, based at atenasstonegallery.com, brings the
							beauty of Pakistani marble, onyx, and granite to USA.</p>
					</div>
				</li>
				<li>
					<img class="img" src="img/slideimage2.jpg" alt="image2" />
					<div class="sb-description">
						<h3>Your Gateway to Exquisite Pakistani Stone Exports</h3>
						<p>Experience the allure of Pakistan's finest marble, onyx, and granite meticulously exported to
							USA by Atenas Gallery Stone.</p>
					</div>
				</li>
				<li>
					<img class="img" src="img/slideimage3.jpg" alt="image1" />
					<div class="sb-description">
						<h3>Atenas Gallery Stone at the Heart of Pakistani Stone Exports</h3>
						<p>Dive into the world of timeless craftsmanship with Atenas Gallery Stone, your trusted source at
							atenasstonegallery.com, for premium marble, onyx, and granite from Pakistan to USA.</p>
					</div>
				</li>
				<li>
					<img class="img" src="img/slideimage4.jpg" alt="image1" />
					<div class="sb-description">
						<h3>Redefining Spaces with Pakistan's Finest Stone Exports</h3>
						<p>Elevate your surroundings with the unmatched beauty of Pakistani marble, onyx, and granite,
							expertly exported to USA by Atenas Gallery Stone.</p>
					</div>
				</li>
				<li>
					<img class="img" src="img/slideimage5.jpg" alt="image1" />
					<div class="sb-description">
						<h3>Atenas Gallery Stone Pioneering Stone Exports</h3>
						<p>Uncover the richness of Pakistani stone at atenasstonegallery.com as Atenas Gallery Stone leads the way in
							exporting marble, onyx, and granite to USA.</p>
					</div>
				</li>
				<li>
					<img class="img" src="img/slideimage6.jpg" alt="image1" />
					<div class="sb-description">
						<h3>Shaping Spaces, Connecting Cultures</h3>
						<p>At atenasstonegallery.com, Atenas Gallery Stone extends the essence of Pakistani craftsmanship through the
							export of exquisite marble, onyx, and granite to USA.</p>
					</div>
				</li>
				<li>
					<img class="img" src="img/slideimage7.jpg" alt="image1" />
					<div class="sb-description">
						<h3>Atenas Gallery Stone' Signature Stone Exports</h3>
						<p>Immerse yourself in luxury with Atenas Gallery Stone, where atenasstonegallery.com serves as the online
							portal for the export of Pakistan's finest marble, onyx, and granite to USA.</p>
					</div>
				</li>
			</ul>
			<div id="shadow" class="shadow"></div>
			<div id="nav-dots" class="nav-dots">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div><!-- /wrapper -->
	</section>

	<section id="floor">
		<div class="floor_main clearfix">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="floor_1">
							<h2>Onyx</h2>
						</div>
						<br>
						<div class="col-sm-4">
							<div class="floor_2">
								<div class="ih-item square colored right_to_left">
										<div class="img"><img src="img/Slabs Afghani Green2.jpeg" alt="img"></div>
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="floor_2">
								<div class="ih-item square colored right_to_left">
										<div class="img"><img src="img/Multi Green.jpeg" alt="img"></div>
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="floor_2">
								<div class="ih-item square colored right_to_left">
										<div class="img"><img src="img/onyxblue2.jpeg" alt="img"></div>
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="floor_2">
								<div class="ih-item square colored right_to_left">
										<div class="img"><img src="img/pakistani-light-green.jpeg" alt="img"></div>
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="floor_2">
								<div class="ih-item square colored right_to_left">
										<div class="img"><img src="img/Slabs Afghani White.jpeg" alt="img"></div>
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="floor_2">
								<div class="ih-item square colored right_to_left">
										<div class="img"><img src="img/Slabs Afghani Pink.webp" alt="img"></div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="floor_3">
							<p><a href="/onyx">View more</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- marble  -->
	<section id="making">
		<div class="making_main clearfix">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="making_1">
							<h2>Marble</h2>
						</div>
						<br>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img src="img/black-gold.png" alt="img"></div>
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img src="img/Popular-Gray.png" alt="img"></div>
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img src="img/Indus-Gold.webp" alt="img"></div>
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img src="img/Crystal-beige.webp" alt="img"></div>
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img src="img/Coffee-brown.webp" alt="img"></div>
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img src="img/Sky-Gray-Marble.webp" alt="img"></div>
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="making_3">
							<p><a href="/marble">View more</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="floor">
		<div class="floor_main clearfix"  style="background-color: whitesmoke;">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="making_1">
							<h2 style="color: black;">Granite</h2>
						</div>
						<br>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/G01-1.webp"></div>
										
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/G02.webp"></div>
										
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/G03.webp"></div>
										
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/G04.webp"></div>
										
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/G05.webp"></div>
										
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/G06.webp"></div>
										
									</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="making_3">
							<p><a style="color: black; border-color: black;" href="/Granite">View more</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</section>
	<%- include('footer.ejs') %>