<%- include('header.ejs') %>

	<section id="center" class="center_home">
		<div class="wrapper">

			<ul id="sb-slider" class="sb-slider">
				<li>
					<img class="img" src="img/slideimage1.jpg" alt="" />
					<div class="sb-description">
						<h3> Bridging Elegance from Pakistan to Mexico</h3>
						<p>Embark on a journey of refined luxury as PakMex Exporters, based at pakmex.com, brings the
							beauty of Pakistani marble, onyx, and granite to Mexico.</p>
					</div>
				</li>
				<li>
					<img class="img" src="img/slideimage2.jpg" alt="image2" />
					<div class="sb-description">
						<h3>Your Gateway to Exquisite Pakistani Stone Exports</h3>
						<p>Experience the allure of Pakistan's finest marble, onyx, and granite meticulously exported to
							Mexico by PakMex Exporters.</p>
					</div>
				</li>
				<li>
					<img class="img" src="img/slideimage3.jpg" alt="image1" />
					<div class="sb-description">
						<h3> PakMex Exporters at the Heart of Pakistani Stone Exports</h3>
						<p>Dive into the world of timeless craftsmanship with PakMex Exporters, your trusted source at
							pakmex.com, for premium marble, onyx, and granite from Pakistan to Mexico.</p>
					</div>
				</li>
				<li>
					<img class="img" src="img/slideimage4.jpg" alt="image1" />
					<div class="sb-description">
						<h3>Redefining Spaces with Pakistan's Finest Stone Exports</h3>
						<p>Elevate your surroundings with the unmatched beauty of Pakistani marble, onyx, and granite,
							expertly exported to Mexico by PakMex Exporters.</p>
					</div>
				</li>
				<li>
					<img class="img" src="img/slideimage5.jpg" alt="image1" />
					<div class="sb-description">
						<h3>PakMex Exporters Pioneering Stone Exports</h3>
						<p>Uncover the richness of Pakistani stone at PakMex.com as PakMex Exporters leads the way in
							exporting marble, onyx, and granite to Mexico.</p>
					</div>
				</li>
				<li>
					<img class="img" src="img/slideimage6.jpg" alt="image1" />
					<div class="sb-description">
						<h3>Shaping Spaces, Connecting Cultures</h3>
						<p>At pakmex.com, PakMex Exporters extends the essence of Pakistani craftsmanship through the
							export of exquisite marble, onyx, and granite to Mexico.</p>
					</div>
				</li>
				<li>
					<img class="img" src="img/slideimage7.jpg" alt="image1" />
					<div class="sb-description">
						<h3>PakMex Exporters' Signature Stone Exports</h3>
						<p>Immerse yourself in luxury with PakMex Exporters, where pakmex.com serves as the online
							portal for the export of Pakistan's finest marble, onyx, and granite to Mexico.</p>
					</div>
				</li>
			</ul>
			<div id="shadow" class="shadow"></div>
			<div id="nav-dots" class="nav-dots">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div><!-- /wrapper -->
	</section>
	<section id="making">
		<div class="making_main clearfix">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="making_1">
							<h2>Marble</h2>
						</div>
						<br>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/black-gold.png" alt="">
											<h3 class="image_product_text">
												Black & Gold
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Popular-Gray.png" alt="">
											<h3 class="image_product_text">
												Gray
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Indus-Gold.webp" alt="">
											<h3 class="image_product_text">
												Indus Gold
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Crystal-beige.webp" alt="">
											<h3 class="image_product_text">
												Crystal Beige
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Coffee-brown.webp" alt="">
											<h3 class="image_product_text">
												Coffee Brown
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Sky-Gray-Marble.webp" alt="">
											<h3 class="image_product_text">
												Sky Gray
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Ocean-brown.webp" alt="">
											<h3 class="image_product_text">
												Ocean Brown
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Dessert-wave.webp" alt="">
											<h3 class="image_product_text">
												Dessert Wave
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Tiger-Skin-Marble.webp" alt="">
											<h3 class="image_product_text">
												Tiger Skin
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/apple-gray.webp" alt="">
											<h3 class="image_product_text">
												Apple Gray
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Popular-Beige-limestone1.webp" alt="">
											<h3 class="image_product_text">
												Popular Beige
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/White-limestone-Dot.webp" alt="">
											<h3 class="image_product_text">
												White Limestone
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Yellow-Sandstone.webp" alt="">
											<h3 class="image_product_text">
												Yellow Sandstone
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Sunset-Limestone.webp" alt="">
											<h3 class="image_product_text">
												Sunset Limestone
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/skardu-white.PNG" alt="">
											<h3 class="image_product_text">
												Skardu White
											</h3>
										</div>
			
									</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Absolute Black.jpeg" alt="">
											<h3 class="image_product_text">
												Absolute Black
											</h3>
										</div>
			
									</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Silky Black.jpeg" alt="">
											<h3 class="image_product_text">
												Silky Black
											</h3>
										</div>
			
									</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Jungle Green.jpeg" alt="">
											<h3 class="image_product_text">
												Jungle Green
											</h3>
										</div>
			
									</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Pecaso.jpeg" alt="">
											<h3 class="image_product_text">
												Pecaso
											</h3>
										</div>
			
									</div>
							</div>
						</div>

						<div class="col-sm-4">
							<div class="making_2">
								<div class="ih-item square left_to_right">
										<div class="img"><img alt="img" src="img/Imperial Red.jpeg" alt="">
											<h3 class="image_product_text">
												Imperial Red
											</h3>
										</div>
			
									</div>
							</div>
						</div>
						
					</div>
			
				</div>
			</div>
			</div>


	</section>
	</section>
	<%- include('footer.ejs') %>