<%- include('header.ejs') %>

	<section id="center" class="center_home">
		<div class="wrapper">

			<ul id="sb-slider" class="sb-slider">
				<li>
					<a href="#"><img class="img" src="img/slideimage1.jpg" alt="" /></a>
					<div class="sb-description">
						<h3> Bridging Elegance from Pakistan to Mexico</h3>
						<p>Embark on a journey of refined luxury as PakMex Exporters, based at pakmex.com, brings the
							beauty of Pakistani marble, onyx, and granite to Mexico.</p>
					</div>
				</li>
				<li>
					<a href="#"><img class="img" src="img/slideimage2.jpg" alt="image2" /></a>
					<div class="sb-description">
						<h3>Your Gateway to Exquisite Pakistani Stone Exports</h3>
						<p>Experience the allure of Pakistan's finest marble, onyx, and granite meticulously exported to
							Mexico by PakMex Exporters.</p>
					</div>
				</li>
				<li>
					<a href="#"><img class="img" src="img/slideimage3.jpg" alt="image1" /></a>
					<div class="sb-description">
						<h3> PakMex Exporters at the Heart of Pakistani Stone Exports</h3>
						<p>Dive into the world of timeless craftsmanship with PakMex Exporters, your trusted source at
							pakmex.com, for premium marble, onyx, and granite from Pakistan to Mexico.</p>
					</div>
				</li>
				<li>
					<a href="#"><img class="img" src="img/slideimage4.jpg" alt="image1" /></a>
					<div class="sb-description">
						<h3>Redefining Spaces with Pakistan's Finest Stone Exports</h3>
						<p>Elevate your surroundings with the unmatched beauty of Pakistani marble, onyx, and granite,
							expertly exported to Mexico by PakMex Exporters.</p>
					</div>
				</li>
				<li>
					<a href="#"><img class="img" src="img/slideimage5.jpg" alt="image1" /></a>
					<div class="sb-description">
						<h3>PakMex Exporters Pioneering Stone Exports</h3>
						<p>Uncover the richness of Pakistani stone at PakMex.com as PakMex Exporters leads the way in
							exporting marble, onyx, and granite to Mexico.</p>
					</div>
				</li>
				<li>
					<a href="#"><img class="img" src="img/slideimage6.jpg" alt="image1" /></a>
					<div class="sb-description">
						<h3>Shaping Spaces, Connecting Cultures</h3>
						<p>At pakmex.com, PakMex Exporters extends the essence of Pakistani craftsmanship through the
							export of exquisite marble, onyx, and granite to Mexico.</p>
					</div>
				</li>
				<li>
					<a href="#"><img class="img" src="img/slideimage7.jpg" alt="image1" /></a>
					<div class="sb-description">
						<h3>PakMex Exporters' Signature Stone Exports</h3>
						<p>Immerse yourself in luxury with PakMex Exporters, where pakmex.com serves as the online
							portal for the export of Pakistan's finest marble, onyx, and granite to Mexico.</p>
					</div>
				</li>
			</ul>
			<div id="shadow" class="shadow"></div>
			<div id="nav-dots" class="nav-dots">
				<span class="nav-dot-current"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div><!-- /wrapper -->
	</section>
	<section id="making">
		<div class="making_main clearfix">
			<div class="container">
				<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
					<!-- main heading -->
					<div style="display: flex; margin-bottom: 50px;">
						<h2 style="color: aliceblue;">Marble</h2>

					</div>
					<!-- img first row -->
					<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/black-gold.png" alt="">
							<h3 style="color: white; text-align: center;">
								black Gold
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 1px;" src="img/Popular-Gray.webp" alt="">
							<h3 style="color: white; text-align: center;">
								Popular Gray
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/Indus-Gold.webp" alt="">
							<h3 style="color: white; text-align: center;">
								Indus Gold
							</h3>
						</div>
					</div>
					<!-- img sec row -->
					<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 3px;" src="img/Crystal-beige.webp" alt="">
							<h3 style="color: white; text-align: center;">
								Crystal beige
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/Coffee-brown.webp" alt="">
							<h3 style="color: white; text-align: center;">
								Coffee brown
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 1px;" src="img/Sky-Gray-Marble.webp" alt="">
							<h3 style="color: white; text-align: center;">
								Sky Gray
							</h3>
						</div>
					</div>
					<!-- img sec row -->
					<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/Ocean-brown.webp" alt="">
							<h3 style="color: white; text-align: center;">
								Ocean brown
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/Dessert-wave.webp" alt="">
							<h3 style="color: white; text-align: center;">
								Dessert wave
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/Black-and-Gold.webp" alt="">
							<h3 style="color: white; text-align: center;">
								Black and Gold
							</h3>
						</div>
					</div>
					<!-- img sec row -->
					<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/Tiger-Skin-Marble.webp" alt="">
							<h3 style="color: white; text-align: center;">
								Tiger Skin
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 1px;" src="img/apple-gray.webp" alt="">
							<h3 style="color: white; text-align: center;">
								apple gray
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 1px;" src="img/Popular-Beige-limestone1.webp" alt="">
							<h3 style="color: white; text-align: center;">
								Popular Beige
							</h3>
						</div>
					</div>

					<!-- img sec row -->
					<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/White-limestone-Dot.webp" alt="">
							<h3 style="color: white; text-align: center;">
								White limestone
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/Yellow-Sandstone.webp" alt="">
							<h3 style="color: white; text-align: center;">
								Yellow Sandstone
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/Sunset-Limestone.webp" alt="">
							<h3 style="color: white; text-align: center;">
								Sunset Limestone
							</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
					<!-- main heading -->
					<div style="display: flex; margin-bottom: 50px;">
						<h2 style="color: aliceblue;">Granite</h2>

					</div>
					<!-- img first row -->
					<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G01-1.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G01
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G02.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G02
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G03.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G03
							</h3>
						</div>
					</div>
					<!-- img sec row -->
					<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G04.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G04
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G06.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G05
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G07.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G06
							</h3>
						</div>
					</div>
					<!-- img sec row -->
					<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G08.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G07
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G09.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G08
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G10.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G09
							</h3>
						</div>
					</div>
					<!-- img sec row -->
					<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G04.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G10
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G02.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G11
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G04.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G12
							</h3>
						</div>
					</div>

					<!-- img sec row -->
					<div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G01-1.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G13
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G01-1.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G14
							</h3>
						</div>

						<div class="ih-item square effect11 left_to_right" style="border: none;">
							<img style="  margin-bottom: 8px;" src="img/G01-1.webp" alt="">
							<h3 style="color: white; text-align: center;">
								G15
							</h3>
						</div>
					</div>
				</div>
			</div>
	</section>
	</section>
	<%- include('footer.ejs') %>